
<div *ngFor="let laptop of laptops[route.url.split('/').slice(-1)[0]]">
    
    <mat-card class="c2"  routerLink="/brands/:brand/{{laptop.name}}">
        <!-- <mat-card-header> -->
          <div class="electronic-image"><img src="https://picsum.photos/80" alt="Photo of Tech"></div>
          <mat-card-title>{{laptop.name}}</mat-card-title>
          <mat-card-subtitle>{{laptop.model}}</mat-card-subtitle>
        <!-- </mat-card-header> -->
        
        <mat-card-content>
          <p>
            Brands
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
    <!--   
      <mat-card class="c2">
       <mat-card-header> -->
          <!-- <div class="electronic-image"><img src="https://picsum.photos/80" alt="Photo of Tech"></div>
          <mat-card-title>ASUS</mat-card-title>
          <mat-card-subtitle>Zephyrus G14 AMD</mat-card-subtitle> --> -->
        <!-- </mat-card-header> -->
        
        <!-- <mat-card-content>
          <p>
            Brands
          </p>
        </mat-card-content> -->
        <!-- <mat-card-actions> 
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      <!-- </mat-card> -->
    
    
    </div>
      